{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <h2>Local time in Athens is {{time}}</h2>
    <p></p>
    <h4>Select a station to check the next train to airport</h4>
    <div class="dropdown">
      <form id="station" class="st-search" action="{% url 'index'%}" method="post"> {% csrf_token %}
	<p><select id="stations"  name="q">
	    <option value="%">Stations</option>

	     {%for timetable in timetables %}
		<option value="{{timetable.station}}">{{timetable.station}}</option>
	      {% endfor%}
	    </select></p>

        <p><button type="submit" class="sl-submit">Select Station</button></p>
      </form>
    </div>
    <div class="results">
    {% if station %}
	<p>Next trains to the airport from </p>
	<p>{% if prev_station %}{{prev_station}}
	    {% if time.hour < 5 %} {{next_hourTrainPrev}}
	    {% elif time > train_prev1 and time < train_prev2 %} {{train_prev2}} 
	    {% elif time > train_prev2 %} {{next_hourTrainPrev}}
	    {%else%} {{train_prev1}} {%endif%}
	{%endif%}</p>

	<p>{{station}}
	    {% if time.hour < 5 %} {{next_hourTrain}}
	    {% elif time > train_pass1 and time < train_pass2 %} {{train_pass2}} 
	    {% elif time > train_pass2 %} {{next_hourTrain}} 
	    {%else%} {{train_pass1}}{%endif%}
	</p>

	<p>{% if next_station %}{{next_station}}
	    {% if time.hour < 5 %} {{next_hourTrainNext}}
	    {% elif time > train_next1 and time < train_next2 %} {{train_next2}} 
	    {% elif time > train_next2 %} {{next_hourTrainNext}}
	    {%else%} {{train_next1}}{%endif%}
	{%endif%}</p>
    {%endif%}

    </div>
</div>
  {% endblock content %}

