{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <h2>Local time in Athens is {{time}}</h2>
    <p></p>
    <h4>Select a station to check the next train to airport</h4>
    <div class="dropdown">
      <form id="station" class="st-search" action="{% url 'index'%}" method="post"> {% csrf_token %}
	<p><select id="stations"  name="q">
	    <option value="%">Stations</option>

	     {%for timetable in timetables %}
		<option value="{{timetable.station}}">{{timetable.station}}</option>
	      {% endfor%}
	    </select></p>

        <p><button type="submit" class="sl-submit">Select Station</button></p>
      </form>
    </div>
    <div class="results">
    {% if station %}
	<p>Next trains to the airport from </p>
	<p>{% if prev_station %}{{prev_station}} {{train_prev}}{%else%}NO previous station{%endif%}</p>

	<p>{{station}} {{train_now}}
	</p>

	<p>{% if next_station %}{{next_station}} {{train_next}}{%else%}NO next station{%endif%}</p>
    {%endif%}

    </div>
</div>
  {% endblock content %}

